.btn, button {
    display: flex;
    justify-content:space-around;
    padding: 8px 16px;
    font-weight: bold;
   }

.btn button {
    background-color: #fff8f3;
    border: 1px solid #FD7E07;
    border-radius: 4px;
  }

.btn-block {
    display: block;
    width: 100%;
    }

#carrito{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto; 
}

header .menu .carrito button {
  padding: 12px;
}

/*CONTROLA EL CIRCULO DENTRO NUMERO DE CANTIDAD DE PRODUCTOS DEL CARRITO*/
.circulo-con-numero {
  width: 32px; /* Define el ancho del círculo */
  height: 32px; /* Define la altura del círculo */
  background-color: #FD7E07; /* Color de fondo del círculo */
  border-radius: 50%; /* Hace que el elemento sea un círculo */
  display: inline-flex; /* Muestra el número y el círculo en línea */
  align-items: center; /* Centra verticalmente el número en el círculo */
  justify-content: center; /* Centra horizontalmente el número en el círculo */
}

.numero {
  color: #fff; /* Color del número */
  font-size: 16px; /* Tamaño de fuente del número */
  font-weight: bold; /* Texto en negrita */
  position: absolute;
}

.btn .absolut {             /*CONTROLA EL NUMERO CON LA CANTIDAD DE PRODUCTOS AGREGADOS AL CARRITO*/
    padding-left: 8px;
    color: #222;
}

header .contenedor-menu .menu .buscador {
  position: absolute;

}

header .menu .buscador .absolut {
  position: absolute;
}

header .buscador {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
} 

header .buscador input {   /* Controla esl estilo del buscador del header */
  position: relative;
  display: flex;
  padding: 16px;
  width: 512px;
  background-color: rgb(255, 252, 252);
  border: 1px solid #FD7E07;
  border-radius: 4px;
}

.lupa {
  position: absolute;
  
}






